/**
 * 	 __        ______ ____  _   _ _____ 
 *   \ \      / / ___| __ )| \ | | ____|
 *    \ \ /\ / / |   |  _ \|  \| |  _|  
 *     \ V  V /| |___| |_) | |\  | |___ 
 *      \_/\_/  \____|____/|_| \_|_____|
 *
 *	Main import file                    
 */
/**
 * 	 __        ______ ____  _   _ _____ 
 *   \ \      / / ___| __ )| \ | | ____|
 *    \ \ /\ / / |   |  _ \|  \| |  _|  
 *     \ V  V /| |___| |_) | |\  | |___ 
 *      \_/\_/  \____|____/|_| \_|_____|
 *
 *	Functions: Core functions                   
 */
/**
 * Get configuration information
 * @param  string $keys... A string of keys
 * @return mixed           Map or string for the requested keys
 */
/**
 * Get a colour
 * @param  string $shade:   primary       [description]
 * @param  string $variant: base          [description]
 * @return string           [description]
 */
*,
*:before,
*:after {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none; }

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none; }

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0; }

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
button,
input,
select,
textarea {
  color: #222; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/**
 * 	 __        ______ ____  _   _ _____ 
 *   \ \      / / ___| __ )| \ | | ____|
 *    \ \ /\ / / |   |  _ \|  \| |  _|  
 *     \ V  V /| |___| |_) | |\  | |___ 
 *      \_/\_/  \____|____/|_| \_|_____|
 *
 *	Elements: Page setup                     
 */
html, .entry-title:after {
  font-family: Raleway;
  font-size: 1rem;
  line-height: 1.5; }

.has-medium-font-size {
  font-size: 1.5rem; }

h1, .single .entry-title,
.h1, h2,
.h2 {
  font-family: "Playfair Display";
  font-weight: 900; }

h1, .single .entry-title,
.h1 {
  font-size: 5.625rem; }

h2,
.h2 {
  font-size: 3rem; }

h3,
.h3 {
  font-weight: 900;
  font-size: 1.875rem; }

h4,
.h4, .widget-title {
  font-family: Raleway;
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: .5rem; }

html {
  font-weight: 300;
  background-color: #f6f9fa;
  color: #1f1f1f;
  line-height: 1.5; }

body {
  background-color: transparent;
  line-height: inherit; }

p {
  margin-bottom: 1.5rem; }

.entry-content {
  margin-top: -20%;
  position: relative;
  z-index: 5; }

.home .entry-content {
  margin-top: 0; }

.entry-content > * {
  position: relative;
  z-index: 5; }

.alignfull {
  max-width: none !important; }

strong,
b {
  font-weight: 600; }

a {
  color: #8953ac; }
  a:hover {
    color: #8c46a3; }

/**
 * 	 __        ______ ____  _   _ _____ 
 *   \ \      / / ___| __ )| \ | | ____|
 *    \ \ /\ / / |   |  _ \|  \| |  _|  
 *     \ V  V /| |___| |_) | |\  | |___ 
 *      \_/\_/  \____|____/|_| \_|_____|
 *
 *	Elements: Headings                     
 */
tr {
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

td,
th {
  padding: 1rem; }

th {
  font-weight: 600;
  text-align: left;
  color: #8953ac; }

.entry-content > *, .custom-header, .home-hero .wp-block-cover__inner-container, .entry-title, .site-header .main-navigation, #secondary-sidebar,
.site-info, .paper-texture .wp-block-group__inner-container,
.comments-area .wp-block-group__inner-container, .entry-meta, .comments-area .comment-list, .post-navigation .nav-links,
.container {
  max-width: 1170px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto; }

#subscribe-submit button,
.wp-block-button__link,
.btn,
input[type="submit"] {
  border-radius: 2rem;
  font-size: 16px;
  border: 2px solid #8953ac;
  background-color: #8953ac;
  color: #f8f8f8;
  font-weight: 600;
  padding: 1.125rem 1.5rem; }
  #subscribe-submit button:hover,
  .wp-block-button__link:hover,
  .btn:hover,
  input[type="submit"]:hover {
    background-color: #8c46a3;
    border-color: #8c46a3; }

/**
 * 	 __        ______ ____  _   _ _____ 
 *   \ \      / / ___| __ )| \ | | ____|
 *    \ \ /\ / / |   |  _ \|  \| |  _|  
 *     \ V  V /| |___| |_) | |\  | |___ 
 *      \_/\_/  \____|____/|_| \_|_____|
 *
 *	Blocks: Site Header               
 */
.site-header {
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0;
  left: 0; }

.site-title,
.site-description {
  display: none; }

.custom-logo-link {
  display: block;
  max-width: 7.5rem;
  position: relative;
  z-index: 10;
  padding: 2.25rem 0 1.5rem 0; }

.site-branding {
  position: relative;
  max-width: 7.5rem;
  z-index: 10; }
  .site-branding:before {
    content: "";
    display: inline-block;
    width: 100vw;
    left: -100vw;
    margin-left: 10em;
    height: 100%;
    top: 0;
    background-color: #1f1f1f;
    color: #f8f8f8;
    position: absolute;
    z-index: 0; }

.entry-header {
  background-image: url("https://2020.brisbane.wordcamp.org/files/2019/12/wcbne-hero-default.jpg"); }

.entry-header:before,
.home .home-hero:first-of-type:before {
  top: 15% !important; }

.entry-header,
.home-hero {
  position: relative;
  padding-top: 60%;
  padding-bottom: 30%; }
  @media screen and (min-width: 768px) {
    .entry-header,
    .home-hero {
      padding-top: 40%; } }
  @media screen and (min-width: 1280px) {
    .entry-header,
    .home-hero {
      background-attachment: fixed; } }
  .entry-header:before, .entry-header:after,
  .home-hero:before,
  .home-hero:after {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    left: 0; }
  .entry-header:before,
  .home-hero:before {
    padding-bottom: 73.3125%;
    background-image: url("https://2020.brisbane.wordcamp.org/files/2019/12/image-mask-top.png") !important;
    background-position: top center;
    top: 0; }
  .entry-header:after,
  .home-hero:after {
    padding-bottom: 60.75%;
    background-image: url("https://2020.brisbane.wordcamp.org/files/2019/12/image-mask.png");
    background-position: bottom center;
    bottom: 0; }

.home-hero .wp-block-cover__inner-container {
  color: #1f1f1f; }

.home-hero {
  position: relative;
  z-index: 0;
  margin-bottom: -15%; }
  @media screen and (min-width: 768px) {
    .home-hero {
      padding-bottom: 20%; } }

.site-main {
  margin-top: -20%; }

.home-hero:before {
  background-color: transparent !important;
  opacity: 1 !important; }

.entry-title {
  position: relative;
  z-index: 5; }

.entry-title:after {
  display: block;
  font-weight: 600;
  content: "WordCamp Brisbane 2020";
  margin-top: 2rem; }

.entry-title,
.home-hero h1 {
  line-height: .925;
  font-size: 3.125rem; }
  @media screen and (min-width: 375px) {
    .entry-title,
    .home-hero h1 {
      font-size: 3.75rem; } }
  @media screen and (min-width: 768px) {
    .entry-title,
    .home-hero h1 {
      font-size: 5.625rem; } }
  @media screen and (min-width: 992px) {
    .entry-title,
    .home-hero h1 {
      font-size: 10rem;
      line-height: .875; } }
  .entry-title + *,
  .home-hero h1 + * {
    margin-top: 1.5rem; }

.home .entry-header {
  display: none; }

.wp-block-cover .wp-block-cover__inner-container {
  width: 100%;
  padding-left: 0;
  padding-right: 0; }

.site-header .main-navigation {
  font-weight: 600; }
  .site-header .main-navigation a {
    color: inherit !important;
    padding: 0.75rem 1.25rem; }
    @media screen and (min-width: 992px) {
      .site-header .main-navigation a {
        padding: 1.5rem 3rem;
        background-color: rgba(246, 249, 250, 0.75); } }
  @media screen and (min-width: 992px) {
    .site-header .main-navigation .menu > li > a {
      padding: 1.5rem 3rem; } }
  .site-header .main-navigation li:hover > a {
    color: #8953ac !important; }
  .site-header .main-navigation li {
    text-align: left; }

@media screen and (min-width: 992px) {
  .site-header .main-navigation {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: right; } }

@media screen and (max-width: 991px) {
  .site-header .main-navigation .menu-primary-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(246, 249, 250, 0.9);
    padding-left: 0;
    padding-right: 0;
    padding-top: 5.3125rem; } }

@media screen and (min-width: 992px) {
  .site-header .main-navigation .menu li:hover > .sub-menu {
    visibility: visible;
    opacity: 1; } }

.site-header .main-navigation .menu .sub-menu {
  position: static;
  float: none;
  max-height: 0;
  transition: max-height .2s ease;
  overflow: hidden; }
  @media screen and (min-width: 992px) {
    .site-header .main-navigation .menu .sub-menu {
      visibility: hidden;
      opacity: 0;
      transition: opacity .2s ease; } }
  @media screen and (max-width: 991px) {
    .site-header .main-navigation .menu .sub-menu {
      box-shadow: none; }
      .site-header .main-navigation .menu .sub-menu a {
        padding-left: 2.25rem; } }

@media screen and (max-width: 991px) {
  .site-header .main-navigation .menu .dropdown-toggle[aria-expanded="true"] + .sub-menu {
    max-height: 100rem; } }

@media screen and (min-width: 992px) {
  .site-header .main-navigation .menu li {
    display: inline-block;
    position: relative; }
  .site-header .main-navigation .menu .sub-menu {
    top: 100%;
    left: 0;
    position: absolute;
    max-height: none; }
    .site-header .main-navigation .menu .sub-menu .sub-menu {
      top: 0;
      left: 100%; }
  .site-header .main-navigation .menu > li {
    margin-right: -4px; } }

@media screen and (max-width: 991px) {
  .site-header .menu-primary-container {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity .2s ease; }
  .site-header .menu-toggle[aria-expanded="true"] + .menu-primary-container {
    max-height: 100vh;
    opacity: 1;
    overflow: auto; } }

.site-header .menu-toggle,
.site-header .dropdown-toggle {
  border: none;
  outline: none;
  background-color: rgba(246, 249, 250, 0.75) !important;
  height: 5.3125rem;
  width: 5.3125rem;
  position: absolute;
  top: 0;
  right: 0; }

.site-header .dropdown-toggle {
  width: 3rem;
  height: 3rem; }
  .site-header .dropdown-toggle:before {
    content: "";
    display: inline-block;
    width: .75rem;
    height: .75rem;
    position: relative;
    top: -.3em;
    border-bottom: 2px solid currentcolor;
    border-right: 2px solid currentcolor;
    transform: rotate(45deg); }

.site-header .menu-toggle {
  text-indent: -999px;
  overflow: hidden;
  text-align: center;
  z-index: 10; }
  .site-header .menu-toggle:after {
    content: "";
    background-image: url("https://2020.brisbane.wordcamp.org/files/2019/12/hamburger-icon.png");
    width: 2.5rem;
    height: 2.5rem;
    right: 1.40625rem;
    top: 1.40625rem;
    margin-top: 0.375rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-indent: 0;
    position: absolute;
    display: inline-block; }
  @media screen and (max-width: 991px) {
    .site-header .menu-toggle {
      display: block !important; } }

.site-header .page-navigation-container li {
  float: none; }

.widget-area[role="complementary"],
.site-footer {
  background-color: #1f1f1f;
  color: #f8f8f8; }
  .widget-area[role="complementary"] a,
  .site-footer a {
    color: inherit;
    text-decoration: none; }
    .widget-area[role="complementary"] a:hover,
    .site-footer a:hover {
      text-decoration: underline; }

.widget-area[role="complementary"] {
  padding-top: 3rem;
  padding-bottom: 3rem;
  position: relative;
  z-index: 5; }
  .widget-area[role="complementary"] .widget {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin-right: -4px; }
    @media screen and (min-width: 768px) {
      .widget-area[role="complementary"] .widget {
        padding-right: 3rem;
        width: 50%; } }
    @media screen and (min-width: 768px) {
      .widget-area[role="complementary"] .widget {
        width: 25%; } }
  @media screen and (min-width: 768px) {
    .widget-area[role="complementary"] .widget_blog_subscription {
      width: 40%; } }
  @media screen and (min-width: 768px) {
    .widget-area[role="complementary"] .widget_recent_entries {
      width: 35%; } }
  .widget-area[role="complementary"] .widget_recent_entries li {
    margin-bottom: 1rem; }
  .widget-area[role="complementary"] .widget_recent_entries a {
    font-weight: false;
    color: #b898cd; }
  .widget-area[role="complementary"] .post-date {
    display: block;
    opacity: .5;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); }

.site-info {
  text-align: center; }

.site-footer {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

.site-info {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  text-transform: uppercase;
  padding-top: 1.5rem;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.85); }

.site-info-generator:after {
  content: "|";
  margin-right: 1rem;
  margin-left: 1rem; }

.widget_blog_subscription {
  position: relative; }

#subscribe-email,
#subscribe-submit {
  margin-bottom: 0; }

#subscribe-email input {
  width: 100%;
  height: 3.625rem;
  padding-right: 10em;
  border-radius: 2rem;
  padding-left: 2rem; }

#subscribe-submit {
  position: absolute;
  bottom: 0;
  right: 0; }
  @media screen and (min-width: 768px) {
    #subscribe-submit {
      right: 3rem; } }
  #subscribe-submit button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }

.media--round .wp-block-media-text__content {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.wp-block-media-text__media {
  padding: 3rem; }
  .wp-block-media-text__media img {
    border-radius: 50%;
    padding: 1.5rem;
    border: 2px dashed #8953ac; }
  .media--round .wp-block-media-text__media {
    border-radius: 50%; }

.callout {
  background-color: #f2efed;
  color: #1f1f1f;
  position: relative;
  z-index: 6;
  box-shadow: 0rem 0rem 4rem rgba(0, 0, 0, 0.1); }
  .callout.wp-block-cover .wp-block-cover__inner-container {
    color: inherit; }

.wp-block-latest-posts li {
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.wp-block-latest-posts li:first-of-type {
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

.wp-block-latest-posts li > a {
  font-size: 24px;
  text-decoration: none; }
  .wp-block-latest-posts li > a:hover {
    text-decoration: underline; }

.paper-texture,
.comments-area {
  background-color: #efeef0;
  background-image: url("https://2020.brisbane.wordcamp.org/files/2019/12/paper-texture.jpg");
  background-repeat: repeat-y;
  background-size: 100% auto;
  padding-top: 3rem;
  padding-bottom: 3rem; }

.hentry {
  margin-bottom: 0; }

.callout + .paper-texture {
  margin-top: -9rem;
  padding-top: 12rem; }

.wordcamp-sponsors.sponsor-grid {
  text-align: center;
  display: block !important; }
  .wordcamp-sponsors.sponsor-grid li {
    display: inline-block;
    vertical-align: middle;
    margin-right: -4px;
    width: 50%;
    padding: 1.5rem; }
    @media screen and (min-width: 540px) {
      .wordcamp-sponsors.sponsor-grid li {
        width: 33.333%; } }
    @media screen and (min-width: 992px) {
      .wordcamp-sponsors.sponsor-grid li {
        width: 20%; } }
  .wordcamp-sponsors.sponsor-grid img {
    filter: grayscale(100%);
    transition: all .2s ease; }
    .wordcamp-sponsors.sponsor-grid img:hover {
      filter: grayscale(0%); }

.entry-meta {
  position: relative;
  z-index: 5;
  margin-top: 0;
  font-weight: 600; }

.nav-previous,
.nav-next {
  font-weight: 600; }
  .nav-previous:before,
  .nav-next:before {
    display: block;
    font-weight: 300; }

.nav-previous:before {
  content: "Previous"; }

.nav-next {
  text-align: right; }
  .nav-next:before {
    content: "Next"; }

.site-main .post-navigation {
  margin-bottom: 0; }

.post-navigation a {
  text-decoration: none; }
  .post-navigation a:hover {
    text-decoration: underline; }

.entry-header,
.home-hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
