.widget-area[role="complementary"],
.site-footer {
	background-color: config( colors, dark, base );
	color: config( colors, dark, contrast );

	a {
		color: inherit;
	}
}

.widget-title {
	@extend %text-style--h4;
}

.widget-area[role="complementary"] {
	padding-top: calc-rem( config( spacing, base ) * 2 );
	padding-bottom: calc-rem( config( spacing, base ) * 2 );

	.widget {
		display: inline-block;
		vertical-align: top;
		margin-right: -4px;

		@media screen and ( min-width: #{ config( grid, breakpoints, md ) } ) {
			padding-right: calc-rem( config( spacing, base ) * 2 );
			width: 50%;
		}

		@media screen and ( min-width: #{ config( grid, breakpoints, md ) } ) {
			width: 25%;
		}
	}

	.widget_blog_subscription {
		@media screen and ( min-width: #{ config( grid, breakpoints, md ) } ) {
			width: 40%;
		}

		.post-date {
			display: block;
		}
	}

	.widget_recent_entries {
		@media screen and ( min-width: #{ config( grid, breakpoints, md ) } ) {
			width: 35%;
		}
	}
}

#secondary-sidebar,
.site-info {
	@extend %container;
}

.site-info {
	text-align: center;
}

.site-footer {
	padding-top: calc-rem( config( spacing, base ) );
	padding-bottom: calc-rem( config( spacing, base ) );
}