.widget-area[role="complementary"],
.site-footer {
	background-color: config( colors, dark, base );
	color: config( colors, dark, contrast );

	a {
		color: inherit;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

.widget-title {
	@extend %text-style--h4;
}

.widget-area[role="complementary"] {
	padding-top: calc-rem( config( spacing, base ) * 2 );
	padding-bottom: calc-rem( config( spacing, base ) * 2 );

	.widget {
		display: inline-block;
		vertical-align: top;
		width: 100%;
		margin-right: -4px;

		@media screen and ( min-width: #{ config( grid, breakpoints, md ) } ) {
			padding-right: calc-rem( config( spacing, base ) * 2 );
			width: 50%;
		}

		@media screen and ( min-width: #{ config( grid, breakpoints, md ) } ) {
			width: 25%;
		}
	}

	.widget_blog_subscription {
		@media screen and ( min-width: #{ config( grid, breakpoints, md ) } ) {
			width: 40%;
		}
	}

	.widget_recent_entries {
		@media screen and ( min-width: #{ config( grid, breakpoints, md ) } ) {
			width: 35%;
		}

		li {
			margin-bottom: 1rem;
		}

		a {
			font-weight: config( typography, primary, bold );
			color: lighten( config( colors, primary, base ), 20 );
		}
	}

	.post-date {
		display: block;
		opacity: .5;
		padding-bottom: 1rem;
		border-bottom: 1px solid rgba( #fff, .2 );
	}

}

#secondary-sidebar,
.site-info {
	@extend %container;
}

.site-info {
	text-align: center;
}

.site-footer {
	padding-top: calc-rem( config( spacing, base ) );
	padding-bottom: calc-rem( config( spacing, base ) );
}

.site-info {
	border-top: 1px solid rgba( #fff, .2 );
	text-transform: uppercase;
	padding-top: calc-rem( config( spacing, base ) );
	font-size: config( typography, primary, sizes, small );
	color: rgba( #fff, .85 );
}

.site-info-generator {

	&:after {
		content: "|";
		margin-right: 1rem;
		margin-left: 1rem;
	}
}