.wp-block-button__link,
.btn {
	background-color: config( colors, primary, base );
	color: config( colors, primary, contrast );
	font-weight: config( typography, primary, weights, bold );
	padding: calc-rem( config( spacing, base ) * .75 ) calc-rem( config( spacing, base ) );
}