.entry-header {
	background-image: url('https://2020.brisbane.wordcamp.org/files/2019/12/wcbne-hero-default.jpg');
}

.entry-header,
.home .home-hero:first-of-type {
	&:before {
		top: 15%;
	}
}

.entry-header,
.home-hero {
	@extend %background-cover;
	position: relative;
	padding-top: 40%;
	padding-bottom: 30%;

	@media screen and (min-width: #{ config( grid, breakpoints, xl ) } ) {
		background-attachment: fixed;
	}

	&:before,
	&:after {
		content: "";
		display: block;
		width: 100%;
		height: 0;
		position: absolute;
		background-size: contain;
		background-repeat: no-repeat;
		left: 0;
	}

	&:before {
		padding-bottom: 73.3125%;
		background-image: url('https://2020.brisbane.wordcamp.org/files/2019/12/image-mask-top.png') !important;
		background-position: top center;
		top: 0;
	}

	&:after {
		padding-bottom: 60.75%;
		background-image: url('https://2020.brisbane.wordcamp.org/files/2019/12/image-mask.png');
		background-position: bottom center;
		bottom: 0;
	}
}


.home-hero .wp-block-cover__inner-container {
	@extend %container;
	color: config( colors, page, contrast );
}


.hone-hero {
	margin-top: -25%;
	position: relative;
	z-index: 0;
}


.site-main {
	margin-top: -20%;
}


.home-hero:before {
	background-color: transparent !important;
	opacity: 1 !important;
}


.entry-title {
	@extend %container;
	position: relative;
	z-index: 5;
}


.entry-title:after {
	@extend %text-style--primary;
	display: block;
	font-weight: config( typography, primary, weights, bold );
	content: "WordCamp Brisbane 2020";
	margin-top: 1rem;
}


.entry-title,
.home-hero h1 {
	line-height: .925;
	font-size: calc-rem( 42px );

	@media screen and (min-width: #{ config( grid, breakpoints, md ) } ) {
		font-size: calc-rem( 90px );
	}

	@media screen and (min-width: #{ config( grid, breakpoints, lg ) } ) {
		font-size: calc-rem( 160px );
		line-height: .875;
	}

	+ * {
		margin-top: calc-rem( config( spacing, base ) );
	}
}


.home .entry-header {
	display: none;
}

.wp-block-cover .wp-block-cover__inner-container {
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}