.main-navigation {
	font-weight: config( typography, primary, weights, bold );

	a {
		color: inherit !important;
		padding: calc-rem( config( spacing, base ) );
	}

	li:hover > a {
	 	color: config( colors, primary, base ) !important;
	}

	li {
		text-align: left;
	}

	.menu > li > a {
		padding: calc-rem( config( spacing, base ) ) calc-rem( config( spacing, base ) * 2 );
	}
}


.main-navigation {
	@extend %container;

	@media screen and ( min-width: #{ config( grid, breakpoints, lg ) } ) {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX( -50% );
		text-align: right;
	}

	.menu {

		@media screen and ( min-width: #{ config( grid, breakpoints, lg ) } ) {
			li {
				display: inline-block;
				position: relative;
			}

			> li {
				margin-right: -4px;

				> a {
					background-color: rgba( config( colors, page, base ), .75 );
				}
			}
		}
	}
}

@media screen and ( max-width: #{ config( grid, breakpoints, lg ) - 1 } ) {
	.menu-primary-container {
		max-height: 0;
		overflow: hidden;
		opacity: 0;
		transition: opacity .2s ease;
	}

	.menu-toggle[aria-expanded="true"] + .menu-primary-container {
		max-height: 100vh;
		opacity: 1;
		overflow: auto;
	}
} 


.menu-toggle {
	border: none;
	outline: none;
	text-indent: -999px;
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
	height: calc-rem( 85px );
	width: calc-rem( 85px );
	background-color: rgba( config( colors, page, base ), .75 ) !important;
	text-align: center;

	&:after {
		content: "";
		background-image: url('https://2020.brisbane.wordcamp.org/files/2019/12/hamburger-icon.png');
		width: calc-rem( 50px );
		height: calc-rem( 50px );
		right: calc-rem( ( 85px - 50px ) / 2 );
		top: calc-rem( ( 85px - 50px ) / 2 );
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		text-indent: 0;
		position: absolute;
		display: inline-block;
	}

	@media screen and ( max-width: #{ config( grid, breakpoints, lg ) - 1 } ) {
		display: block !important;
	}
}


.page-navigation-container li {
	float: none;
}
