.wordcamp-organizers {
	display: flex !important;
	flex: 1 0 auto;
	flex-wrap: wrap;

	> li {
		padding-right: calc-rem( config( spacing, base ) * 2 );
		overflow: visible;
		margin-bottom: calc-rem( config( spacing, base ) * 2 );
	}

	.wordcamp-organizer {
		display: flex !important;
		flex-wrap: wrap;
		position: relative;
		padding-left: calc-rem( 100px + config( spacing, base ) ) !important;
		align-items: center;
		min-height: calc-rem( 100px );

		> * {
			width: 100%;
		}
	}

	.wordcamp-block__item-title {
		margin-top: auto;
		font-size: inherit;
		font-weight: config( typography, primary, weights, bold );
	}

	.wordcamp-block__item-content {
		margin-bottom: auto;

		> *:last-of-type {
			margin-bottom: 0;
		}
	}

	.wordcamp-image__avatar-container {
		max-width: calc-rem( 100px );
		border-radius: 50%;
		overflow: hidden;
		position: absolute;
		top: 0;
		left: 0;
	}
	
}