.split-feature {
	.wp-block-column {
		flex-basis: 50% !important;
	}

	.wp-block-column:not(:first-child) {
		margin-left: 0 !important;
	}

	.wp-block-cover__inner-container {
		max-width: 28rem;
	}

	.wp-block-cover {
		text-shadow: 0 0.1em 3rem rgba( 0,0,0, .5 );

		&:before {
			transition: all .2s ease;
			opacity: .5;
			background: linear-gradient(141deg, rgba(251,245,229,1) 0%, rgba(255,194,130,1) 36%, rgba(252,118,148,1) 85%);
		}

		&:hover:before {
			opacity: .6;
		}
	}

	h3 {
		@extend %h2;
	}

	a {
		color: inherit !important;
		text-decoration: none;
	}

	p a {
		display: inline-block !important;
	}
}