.widget_blog_subscription {
	position: relative;
}

#subscribe-email,
#subscribe-submit {
	margin-bottom: 0;
}

#subscribe-email {
	input {
		width: 100%;
		height: calc-rem( 58px );
		padding-right: 10em;
		border-radius: 2rem;
		padding-left: 2rem;
	}
}

#subscribe-submit {
	position: absolute;
	bottom: 0;
	right: 0;

	@media screen and ( min-width: #{ config( grid, breakpoints, md ) } ) {
		right: calc-rem( config( spacing, base ) * 2 );
	}

	button {
		@extend %btn;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}