.blog {

	.entry-title {
		@extend %h2;

		&:after {
			display: none;
		}

		a {
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.entry-meta {
		font-weight: inherit;

		a {
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.page-title.screen-reader-text {
		border: 0;
	    clip: auto !important;
	    clip-path: none !important;
	    height: auto;
	    margin: 0;
	    overflow: visible;
	    padding: 0;
	    position: relative !important;
	    width: auto !important;
	    word-wrap: normal!important;
	    z-index: 5;
	}

	.site-main {
		padding-bottom: calc-rem( config( spacing, base ) * 2 );
	}

	.site-main > header {
		padding-top: 40%;
		padding-bottom: 20%;
		background-image: url('https://2020.brisbane.wordcamp.org/files/2019/12/wcbne-hero-default.jpg');
		background-repeat: no-repeat;
		background-size:  cover;
		background-position: top center;
		background-attachment: fixed;
		position: relative;
		margin-bottom: -10%;

		&:after {
			content: "";
			display: block;
			position: absolute;
			top: auto;
			left: 0;
			background-image: url(https://2020.brisbane.wordcamp.org/files/2019/12/image-mask.png);
		    background-position: bottom center;
		    bottom: 0;
		    width: 100%;
		    height: 100%;
		}

		h1 {
			@extend %container;
			margin-left: auto !important;
			margin-right: auto !important;
		}
	}

	.entry-header {
		padding-top: 0 !important;
		padding-bottom: 0 !important;
		background: none;

		&:after {
			display: none !important;
		}
	}

	.entry-content {
		margin-top: 0;
	}

	.entry-image {
		@media screen and (min-width: 768px) {
			position: absolute;
			width: 30%;
			left: 0;
			top: 0;
		}
	}

	.entry-header,
	.entry-content,
	.entry-footer {
		@media screen and (min-width: 768px) {
			padding-left: 35%;
		}
	}

	.entry-footer p {
		padding-left: 20px;
		padding-right: 20px;

		a {
			text-decoration: none;
			margin-right: 2rem;
		}
	}

	article.post {
		@extend %container;
		
		@media screen and (min-width: 768px) {
			min-height: 14.25em;
		}

		.entry-title {
			margin-bottom: 0;
		}

		.entry-meta {
			margin-bottom: 1rem;
		}

		.entry-content,
		.entry-header {
			> * {
				@media screen and (min-width: 768px) {
					padding-left: 0;
					padding-right: 0;
				}
			}
		}
	}

	.entry-header:before,
	.entry-header:after {
		display: none;
	}
}


.single-post {
	.entry-header,
	.entry-image {
		position: static;
	}

	.entry-title {
		position: relative;
		z-index: 5;
	}

	.entry-image img {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 0;
		width: 100%;
		height: auto;
		max-width: none;
	}

	.entry-header {
		padding-bottom: 15%;
	}

	.entry-content {
	    margin-top: -5%;
	    position: relative;
	    z-index: 5;
	    background-color: config( colors, page, base );
	    padding-bottom: 0;
	}
}

.post-navigation {
	background-color: #efeef0;
	padding-top: calc-rem( config( spacing, base ) * 1.5 );
	padding-bottom: calc-rem( config( spacing, base ) * 1.5 );
	margin-bottom: 0;
}
