/**
 * 	 __        ______ ____  _   _ _____ 
 *   \ \      / / ___| __ )| \ | | ____|
 *    \ \ /\ / / |   |  _ \|  \| |  _|  
 *     \ V  V /| |___| |_) | |\  | |___ 
 *      \_/\_/  \____|____/|_| \_|_____|
 *
 *	Elements: Headings                     
 */

h1,
%h1,
.h1 {
	@extend %text-style--h1;
}


h2,
%h2,
.h2 {
	@extend %text-style--h2;
	margin-bottom: calc-rem( config( spacing, base ) * .5 );
	margin-top: calc-rem( config( spacing, base ) * 2 );
	line-height: 1;
}


h3,
%h3,
.h3 {
	@extend %text-style--h3;
	margin-bottom: calc-rem( config( spacing, base ) * .5 );
}


h4,
%h4,
.h4 {
	@extend %text-style--h4;
	margin-bottom: calc-rem( config( spacing, base ) * .25 );
}